:root {
  --main-color: #e61961;
  --secondary-color: #19a9e6;
  --tertiary-color: #e6c019;
}

body {
  margin: 0;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
}

.page-container {
  width: 90%;
  background: white;
  min-height: 90vh;
}